body {
    margin: 0;
    padding: 0;
}

button {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    padding: 15px;
    border: solid #bff8ff;
    margin-top: 2%;
}
button a {
    text-decoration: none;
    color: #381818;
}
button a:hover {
    color: #000000;
}

section {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    color:#e7b070;
    background-color: #000000;

    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    scroll-snap-align: start;
}

section p {
    margin-left: 5%;
}
section img {
    margin-left: 5%;
    margin-top: 5%;
}
section button {
    border: solid #6d2424;
    margin-left: 5%;
    animation: buttonNext_back 3s infinite alternate ease-in-out;
}

/* ANIMATION */
@keyframes buttonNext_back {
    0% {
      background-color: #f7c8b3;
    }
    50% {
      background-color: #ffe1be;
    }
    100% {
      background-color: #f7c8b3;
    }
}