body {
    margin: 0;
    padding: 0;
}

header {
    color: #faebd7;
    background-color: #381818;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    padding-top: 25vh;
    text-align: center;
}

button {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    padding: 15px;
    border: solid #bff8ff;
    background-color:#e7b070;
}
button:hover {
    color: #faebd7;
    background-color: #523131;
}

img.startPluto {
    margin: 1%;
    width: 20%;
}